# Definicion de servidores

[centosChef]
user=root
hostname=centosChef
ip=192.168.122.78 
environment=emergya
backup_retention_days=365
full_backup_retention_days=31

[centosChefclient]
user=root
hostname=centosChefclient
ip=192.168.122.128 
environment=emergya
backup_retention_days=365
full_backup_retention_days=31

[centosLdap]
user=root
hostname=centosLdap
ip=192.168.122.206 
environment=emergya
backup_retention_days=365
full_backup_retention_days=31
